:host {
  display: block;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px 0;
  position: relative;
  height: 65px;
}

.logo {
  height: 100px;
  cursor: pointer;
  margin-left: 20px;
}

.nav-links {
  flex: 1;
  text-align: right;
  margin-right: 50px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 30px;
  transition: color 0.3s ease-in-out;
  
}

.nav-links a:hover {
  color: #ffcc00;
}

#left {
  position: relative;
  left: -150px;
  height:675px;
}
#right {
  position: absolute;
  right:-100px;
  height:675px;
}
#center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 675px;
  background: linear-gradient(to right, rgba(212,204,201,0) 0%, rgba(148,130,118,1) 50%, rgba(201,201,201,0) 100%);
  z-index: 0;
}
.container{
  position: absolute;
  top: 85px;
}
footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: -4px;
}