<main>
    <div class="container">
      <section class="about-project">
        <div class="card">
          <div class="card-header">
            <img class="profile-image" src="assets/unnamed.png" alt="Tlegenov Abzal">
            <h2>Тлегенов Абзал</h2>
            <p class="title">Разработчик проекта</p>
          </div>
          <div class="card-body">
            <p>Данный проект создан в рамках отборочного проекта для nFactorial School.  
              Тематика проекта посвящена моей любимой игре — Tekken 7.  
              Основная цель — продемонстрировать навыки работы с современными фронтенд и бэкенд технологиями.</p>
            <p><b>Email: </b>abzaltaaabzal&#64;gmail.com</p>
            
            <h3>Выбор технологий</h3>
            <p>Проект построен с использованием следующего стека:</p>
            <ul>
              <li><b>Angular</b> — для создания удобного, модульного и масштабируемого фронтенда. Был выбран благодаря предыдущему опыту работы с этим фреймворком.</li>
              <li><b>Django</b> — надёжный и быстрый фреймворк для разработки серверной части (backend API). Принят из-за имеющегося опыта и высокой скорости разработки.</li>
              <li><b>Gemini API</b> — используется для интеграции генеративных возможностей и расширения функциональности проекта.</li>
            </ul>
            <p>Выбор этих технологий основан на личном опыте и потребности в гибкости, быстроте разработки и масштабируемости проекта.</p>
          </div>
        </div>
      </section>
    </div>
  </main>
  
  
  