* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 70%;
}

.card {
    background: #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: 0;
    max-height: 625px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    text-align: center;
    padding: 20px;
}

.character-image {
    width: auto;
    height: 360px;
    border-radius: 8px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card-header h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card-header .title {
    font-size: 16px;
    color: #777;
}

.card-body {
    line-height: 1.6;
    padding: 20px;
    overflow-y: auto;
    flex: 1; 
}

.card-body h3 {
    font-size: 22px;
    margin-top: 20px;
    color: #4CAF50;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

ul li b {
    color: #4CAF50;
}
